.button {
    border: none;
    outline: none;
    background-color: #609aff;
    width: 100px;
    height: 20px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    filter: brightness(110%);
}
